h1 {
    text-align: center;
    color: cadetblue;
}

.addbutton {
    align-self: right;
    align-items: right;
    align-content: right;
    position: relative;
    align-items: right;
    right: -1380px;
}

#home {
    font-size: 17px;
}

#add {
    font-size: 16px;
}